<div id="checkerContainer">
  <!-- TODO(rachelrosen): Since the only thing here is the checker-status component,
       it would make more sense to merge the convai-checker and checker-status components,
       and move a large portion of the convai-checker code to the analyze-api service. -->
  <div *ngIf="!errorMessage" class="status">
    <checker-status
      [fontSize]="fontSize"
      [indicatorWidth]="13"
      [indicatorHeight]="13"
      [gradientColors]="gradientColors"
      [score]="getMaxScore(analyzeCommentResponse)"
      [hasScore]="analyzeCommentResponse !== null"
      [canAcceptFeedback]="canAcceptFeedback"
      [feedbackRequestInProgress]="feedbackRequestInProgress"
      [configurationInput]="configuration"
      [initializeErrorMessage]="initializeErrorMessage"
      [analyzeErrorMessage]="analyzeErrorMessage"
      (commentFeedbackSubmitted)="onCommentFeedbackReceived($event)"
      (scoreChangeAnimationCompleted)="handleScoreChangeAnimationCompleted($event)"
      (modelInfoLinkClicked)="handleModelInfoLinkClicked($event)">
    </checker-status>
  </div>
</div>
