<div id="checkerContainer">
  <!-- TODO(rachelrosen): merge perspective-status and convai-checker
       and move a large portion of the convai-checker code to the perspective-api service. -->
  <perspective-status
    [fontSize]="fontSize"
    [indicatorWidth]="13"
    [indicatorHeight]="13"
    [gradientColors]="demoSettings.gradientColors"
    [scoreThresholds]="demoSettings.scoreThresholds"
    [feedbackText]="demoSettings.feedbackText"
    [configurationInput]="demoSettings.configuration"
    [showPercentage]="demoSettings.showPercentage"
    [showMoreInfoLink]="demoSettings.showMoreInfoLink"
    [score]="getMaxScore(analyzeCommentResponse)"
    [hasScore]="analyzeCommentResponse !== null"
    [canAcceptFeedback]="canAcceptFeedback"
    [feedbackRequestInProgress]="feedbackRequestInProgress"
    [initializeErrorMessage]="initializeErrorMessage"
    [analyzeErrorMessage]="analyzeErrorMessage"
    [userFeedbackPromptText]="demoSettings.userFeedbackPromptText"
    (commentFeedbackSubmitted)="onCommentFeedbackReceived($event)"
    (scoreChangeAnimationCompleted)="handleScoreChangeAnimationCompleted()"
    (modelInfoLinkClicked)="handleModelInfoLinkClicked()">
  </perspective-status>
</div>
