<mat-expansion-panel [expanded]="showDemoSettings"
                     (opened)="showDemoSettings = true; onSettingsChanged();"
                     (closed)="showDemoSettings = false; onSettingsChanged();" >
  <mat-expansion-panel-header>
    Demo Settings
  </mat-expansion-panel-header>

  <div>
    <!-- Feedback thresholds -->
    <div class="setting">
      <div>Feedback Threshold</div>
      <mat-slider
         class="slider"
         [invert]="true"
         [min]="0"
         [max]="100"
         [step]="1"
         [disabled]="customizeScoreThresholds"
         [(ngModel)]="sliderValue"
         (change)="onSliderValueChange($event); onSettingsChanged()"></mat-slider>
       <div [ngClass]="{'disabled': customizeScoreThresholds}">
         Show feedback when a comment has a toxicity score of {{100 - sliderValue}}-100%.
       </div>

      <div class="customizeSwitch sliderCustomizeSwitch">
        <mat-slide-toggle
           [(ngModel)]="customizeScoreThresholds"
           (change)="onSettingsChanged()">Customize</mat-slide-toggle>
      </div>
    </div>
    <div class="setting customizableSetting" *ngIf="customizeScoreThresholds">
      <mat-form-field shouldPlaceholderFloat="true">
        <input matInput
               [(ngModel)]="scoreThresholds[0]"
               (input)="scoreThresholds = scoreThresholds.slice(); onSettingsChanged()"
               type="number"
               placeholder="Min threshold for displaying feedback"/>
      </mat-form-field>
      <mat-form-field shouldPlaceholderFloat="true">
        <input matInput
               [(ngModel)]="scoreThresholds[1]"
               (input)="scoreThresholds = scoreThresholds.slice(); onSettingsChanged()"
               type="number"
               placeholder="Threshold for medium toxicity"/>
      </mat-form-field>
      <mat-form-field shouldPlaceholderFloat="true">
        <input matInput
               [(ngModel)]="scoreThresholds[2]"
               (input)="scoreThresholds = scoreThresholds.slice(); onSettingsChanged()"
               type="number"
               placeholder="Threshold for high toxicity"/>
      </mat-form-field>
    </div>

    <!-- Configuration for user suggestions. -->
    <div class="setting">
      <mat-form-field>
        <mat-select placeholder="Correction style"
                   shouldPlaceholderFloat="true"
                   [(ngModel)]="configuration"
                   (change)="onSettingsChanged()">
          <mat-option *ngFor="let configuration of configurations" [value]="configuration">
            {{ configuration }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Loading icon/widget style. -->
    <div class="setting">
      <mat-form-field>
        <mat-select placeholder="Loading icon style"
                   shouldPlaceholderFloat="true"
                   [(ngModel)]="selectedLoadingIconStyle"
                   (change)="onSettingsChanged()">
          <mat-option *ngFor="let loadingIconStyle of loadingIconStyles"
                     [value]="loadingIconStyle">
            {{loadingIconStyle}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Feedback message -->
    <div class="setting">
      <mat-form-field>
        <mat-select placeholder="Feedback message"
                   shouldPlaceholderFloat="true"
                   [disabled]="useCustomFeedbackText"
                   [(ngModel)]="selectedFeedbackTextScheme"
                   (change)="onSettingsChanged()">
          <mat-option *ngFor="let feedbackTextScheme of feedbackTextSchemes"
                     [value]="feedbackTextScheme">
            {{feedbackTextScheme.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="customizeSwitch">
        <mat-slide-toggle [(ngModel)]="useCustomFeedbackText">Customize</mat-slide-toggle>
      </div>
    </div>

    <div class="setting customizableSetting" *ngIf="useCustomFeedbackText">
      <div>
        <mat-form-field class="feedbackText" shouldPlaceholderFloat="true">
          <input matInput
                 [(ngModel)]="customFeedbackTextScheme[0]"
                 (input)="customFeedbackTextScheme = customFeedbackTextScheme.slice(); onSettingsChanged()"
                 placeholder="Feedback text for a low toxicity"/>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="feedbackText" shouldPlaceholderFloat="true">
          <input matInput
                 [(ngModel)]="customFeedbackTextScheme[1]"
                 (input)="customFeedbackTextScheme = customFeedbackTextScheme.slice(); onSettingsChanged()"
                 placeholder="Feedback text for a medium toxicity"/>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="feedbackText" shouldPlaceholderFloat="true">
          <input matInput
                 [(ngModel)]="customFeedbackTextScheme[2]"
                 (input)="customFeedbackTextScheme = customFeedbackTextScheme.slice(); onSettingsChanged()"
                 placeholder="Feedback text for a high toxicity"/>
        </mat-form-field>
      </div>
    </div>

    <!-- Color theme -->
    <div class="setting">
      <mat-form-field>
        <mat-select placeholder="Color theme"
                   shouldPlaceholderFloat="true"
                   [(ngModel)]="selectedColorScheme"
                   [disabled]="useCustomColorScheme"
                   (change)="onSettingsChanged()">
          <mat-option *ngFor="let colorScheme of colorSchemes" [value]="colorScheme">
            {{colorScheme.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="customizeSwitch">
        <mat-slide-toggle [(ngModel)]="useCustomColorScheme"
                         (change)="onSettingsChanged()">Customize</mat-slide-toggle>
      </div>
    </div>

    <div class="setting customizableSetting" *ngIf="useCustomColorScheme">
      <input readonly
             [(colorPicker)]="customColorScheme[0]"
             (colorPickerChange)="customColorScheme = customColorScheme.slice(); onSettingsChanged()"
             [style.background]="customColorScheme[0]"
             class="colorPicker"/>
      <input readonly
             [(colorPicker)]="customColorScheme[1]"
             (colorPickerChange)="customColorScheme = customColorScheme.slice(); onSettingsChanged()"
             [style.background]="customColorScheme[1]"
             class="colorPicker"/>
      <input readonly
             [(colorPicker)]="customColorScheme[2]"
             (colorPickerChange)="customColorScheme = customColorScheme.slice(); onSettingsChanged()"
             [style.background]="customColorScheme[2]"
             class="colorPicker"/>
      <button mat-raised-button (click)="resetToDefaultColors(); onSettingsChanged()">Reset to default colors</button>
    </div>


    <!-- Other settings -->
    <div class="setting">
      <mat-slide-toggle [(ngModel)]="showPercentage" (change)="onSettingsChanged()">Show percentage</mat-slide-toggle>
    </div>

    <div class="setting">
      <mat-slide-toggle [(ngModel)]="showMoreInfoLink" (change)="onSettingsChanged()">Show more info link</mat-slide-toggle>
    </div>

    <div class="setting">
      <mat-slide-toggle [(ngModel)]="hideLoadingIconAfterLoad"
                       (change)="onSettingsChanged()">Hide loading icon after load
      </mat-slide-toggle>
    </div>

    <div class="setting">
      <mat-slide-toggle [(ngModel)]="alwaysHideLoadingIcon"
        (change)="onSettingsChanged()">Always hide the loading icon.
      </mat-slide-toggle>
    </div>


    <div class="setting">
      <mat-slide-toggle [(ngModel)]="hideLoadingIconForScoresBelowMinThreshold"
        (change)="onSettingsChanged()">Hide loading icon for scores below the minimum threshold.
      </mat-slide-toggle>
    </div>

    <div class="setting">
      <mat-slide-toggle [(ngModel)]="useGapi"
                       (change)="updateApiKey($event); onSettingsChanged()">Use gapi
      </mat-slide-toggle>
      <mat-form-field>
        <input matInput
               [disabled]="!useGapi"
               [(ngModel)]="apiKey"
               (input)="onSettingsChanged()"
               placeholder="API key"/>
      </mat-form-field>
    </div>

    <div class="setting">
      <mat-slide-toggle [(ngModel)]="usePluginEndpoint"
                       (change)="onSettingsChanged()">Use plugin endpoint
      </mat-slide-toggle>
      <mat-form-field>
        <input matInput
               [disabled]="!usePluginEndpoint"
               [(ngModel)]="pluginEndpointUrl"
               (input)="onSettingsChanged()"
               placeholder="Plugin server URL"/>
      </mat-form-field>
    </div>


    <div class="setting">
      <mat-form-field>
        <input matInput
               [(ngModel)]="userFeedbackPromptText"
               (input)="onSettingsChanged()"
               placeholder="Feedback prompt"/>
      </mat-form-field>
    </div>

    <div class="setting">
      <mat-form-field>
        <input matInput
               [(ngModel)]="communityId"
               (input)="onSettingsChanged()"
               placeholder="Community id"/>
      </mat-form-field>
    </div>

    <div class="setting">
      <mat-form-field>
        <input matInput
               [(ngModel)]="modelName"
               (input)="onSettingsChanged()"
               placeholder="Model name"/>
      </mat-form-field>
    </div>
  </div>
</mat-expansion-panel>

<mat-expansion-panel id="jsonPanel">
  <mat-expansion-panel-header>
    Copy/pasteable JSON Demo Settings
  </mat-expansion-panel-header>
  <div>
    {{demoSettingsJson}}
  </div>
</mat-expansion-panel>

<div class="divider"></div>

<convai-checker
   [inputId]="'checkerTextarea'"
   [demoSettings]="demoSettings"
   [pluginEndpointUrl]="pluginEndpointUrl"
   serverUrl="">
  Loading...
</convai-checker>
