@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

body {
 font-family: 'Roboto', sans-serif;
}

#jsonPanel {
  margin-top: 20px;
}

.colorPicker {
  display: inline-block;
  width: 40px;
  /* border: 1px solid; */
  cursor: pointer;
}

.feedbackText {
  width: 400px;
  margin-right: 10px;
}

.divider {
  margin-top: 20px;
  margin-bottom: 20px;
}

.slider {
  width: 500px;
}

.sliderCaption {
  font-size: 14px;
  margin-bottom: 10px;
}

.customizeSwitch {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.customizeSwitch.sliderCustomizeSwitch {
  display: block;
  margin-left: 0;
}

mat-form-field {
  width: 400px;
}

.setting {
  display: block;
  margin-bottom: 20px;
}

.customizableSetting {
  background-color: #FAFAFA;
  padding: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
}

.disabled {
  color: #BDBDBD;
}
