.colorPicker {
  display: inline-block;
  width: 40px;
  /* border: 1px solid; */
  cursor: pointer;
}

.feedbackText {
  width: 400px;
  margin-right: 10px;
}

.divider {
  margin-top: 20px;
  margin-bottom: 20px;
}

.setting {
  display: block;
  margin-bottom: 10px;
}
