<div id="checkerContainer">
  <!-- TODO(rachelrosen): merge perspective-status and convai-checker
       and move a large portion of the convai-checker code to the perspective-api service.
  -->
  <perspective-status
    [gradientColors]="demoSettings.gradientColors"
    [neutralScoreThreshold]="demoSettings.neutralScoreThreshold"
    [toxicScoreThreshold]="demoSettings.toxicScoreThreshold"
    [feedbackText]="demoSettings.feedbackText"
    [showFeedbackForLowScores]="demoSettings.showFeedbackForLowScores"
    [showFeedbackForNeutralScores]="demoSettings.showFeedbackForNeutralScores"
    [loadingIconStyle]="demoSettings.loadingIconStyle"
    [hasLocalAssets]="!demoSettings.usePluginEndpoint"
    [fontFamily]="demoSettings.fontFamily"

    [hasScore]="analyzeCommentResponse !== null"
    [canAcceptFeedback]="canAcceptFeedback"
    [feedbackRequestInProgress]="feedbackRequestInProgress"
    [initializeErrorMessage]="initializeErrorMessage"
    [analyzeErrorMessage]="analyzeErrorMessage"

    (commentFeedbackSubmitted)="onCommentFeedbackReceived($event)"
    (scoreChangeAnimationCompleted)="handleScoreChangeAnimationCompleted()"
    (modelInfoLinkClicked)="handleModelInfoLinkClicked()">
  </perspective-status>
</div>
