<div #widgetContainer id="widgetContainer" class="horizontal-container">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
  <!-- For items that need to be animated, hidden is used instead of *ngIf.
       This is because *ngIf removes items from the DOM, which means they
       cannot be found when the component is initializing if their display
       conditions are not met. -->
  <div id="animationContainer">
    <div *ngIf="loadingIconStyle === loadingIconStyleConst.CIRCLE_SQUARE_DIAMOND"
         id="circleSquareDiamondLoadingIconContainer">
      <div
           #circleSquareDiamondWidget
           id="circleSquareDiamondWidget"
           class="dot"
           [style.width]="indicatorWidth"
           [style.height]="indicatorHeight"
           [hidden]="shouldHideStatusWidget || alwaysHideLoadingIcon"
           [attr.aria-hidden]="shouldHideStatusWidget || isPlayingShowOrHideLoadingWidgetAnimation || alwaysHideLoadingIcon"
           [attr.aria-label]="getAnimationA11yLabel(loadingIconStyle, isPlayingLoadingAnimation)"
           tabindex=0>
      </div>
    </div>
    <div *ngIf="loadingIconStyle === loadingIconStyleConst.EMOJI">
      <div
           #emojiStatusWidget
           id="emojiStatusWidget"
           class="dot emojiWidget"
           tabindex=0
           [attr.aria-label]="getAnimationA11yLabel(loadingIconStyle, isPlayingLoadingAnimation)">
        <img #smileEmoji id="smileEmoji" class="iconEmoji"
             [ngClass]="{hiddenEmoji: hideEmojiIconsForLoadingAnimation || score >= scoreThresholds[1]}"
             [src]="getImageResourcePath('grinning_face.png')">
        <img #neutralEmoji id="neutralEmoji" class="iconEmoji"
             [ngClass]="{hiddenEmoji: hideEmojiIconsForLoadingAnimation || (score < scoreThresholds[1] || score >= scoreThresholds[2])}"
             [src]="getImageResourcePath('thinking_face.png')">
        <img #sadEmoji id="sadEmoji" class="iconEmoji"
             [ngClass]="{hiddenEmoji: hideEmojiIconsForLoadingAnimation || score < scoreThresholds[2]}"
             [src]="getImageResourcePath('disappointed_face.png')">
      </div>
    </div>
  </div>

  <div class="layersContainer">
    <!-- TODO(rachelrosen): Check the necessity of specifying aria-hidden here and elsewhere. -->
    <div id="layer1" [ngClass]="{'horizontal-container': true,
                                 'detailsContainer': true,
                                 'layer': true,
                                 'hiddenLayer': !layersAnimating && currentLayerIndex !== 0}"
                     [attr.aria-hidden]="currentLayerIndex !== 0">
      <div id="layerText" class="layerText">
        <!-- For layer 1 text, configurations EXTERNAL and DEMO_SITE are the same.-->
        <div>
          <div id="noBorderButtonscoreInfo"
               class="widgetText"
               *ngIf="hasScore && !analyzeErrorMessage && shouldShowFeedback(score)"
               [style.fontSize]="fontSize"
               tabindex=0
               role="status"
               [attr.aria-hidden]="!showScore || isPlayingLoadingAnimation || isPlayingFadeDetailsAnimation">
            <span id="feedbackText" [innerHTML]="parseEmojis(getFeedbackTextForScore(score))"></span><span *ngIf="showPercentage" id="percentage">({{score.toFixed(2)}})</span><span
               *ngIf="showMoreInfoLink"
               class="link"
               role="link"
               tabindex=0
               (keyup.enter)="notifyModelInfoLinkClicked()"
               (keyup.space)="notifyModelInfoLinkClicked()"
               (click)="notifyModelInfoLinkClicked()">Learn more</span>
          </div>

          <div class="error" *ngIf="initializeErrorMessage">
            {{initializeErrorMessage}}
          </div>
          <div class="error" *ngIf="analyzeErrorMessage">
            {{analyzeErrorMessage}}
          </div>
        </div><!-- End configuration DEMO_SITE or EXTERNAL -->

      </div> <!-- End layerText -->

      <div class="interactiveElement">
        <div *ngIf="configuration === configurationEnum.EXTERNAL">
          <div id="infoButtonContainer" class="infoButtonContainer">
            <button *ngIf="hasScore && shouldShowFeedback(score)"
              id="infoButton"
              class="infoButton"
              role="button"
              aria-label="Show score details"
              [disabled]="!showScore || isPlayingLoadingAnimation || layersAnimating"
              (click)="setShowMoreInfo(true)"
              tabindex=0>
              <i class="material-icons md-dark md-18">info</i>
            </button>
          </div>
        </div> <!-- End configuration EXTERNAL-->

        <div *ngIf="configuration === configurationEnum.DEMO_SITE">
          <button id="seemWrongButtonDemoConfig"
               *ngIf="canAcceptFeedback && shouldShowFeedback(score)"
               role="button"
               class="seemWrongButton purpleButton noBorderButton"
               [style.fontSize]="fontSize"
               [disabled]="!showScore || isPlayingLoadingAnimation || layersAnimating"
               (click)="feedbackContainerClicked()"
               tabindex=0>
            {{userFeedbackPromptText}}
          </button>
        </div>

      </div> <!-- End interactiveElement -->
    </div> <!-- End layer1 -->

    <div id="layer2" [ngClass]="{'horizontal-container': true,
                                 'detailsContainer': true,
                                 'layer': true,
                                 'hiddenLayer': !layersAnimating && currentLayerIndex !== 1}"
                     [attr.aria-hidden]="currentLayerIndex !== 1">

      <div class="layerText">
        <div *ngIf="configuration === configurationEnum.EXTERNAL">
          <div id="detailedScoreInfo"
               class="widgetText"
               role="status"
               tabindex=0>

            <span>Scored {{percentScore()}}% by the <a href="https://conversationai.github.io/">Perspective "Toxicity" analyzer</a>
            </span>
          </div>
        </div> <!-- End configuration EXTERNAL-->

        <div *ngIf="configuration === configurationEnum.DEMO_SITE">
          <div class="widgetText"
            tabindex=0>
            <span>Is this comment
              <span class="link"
                    role="link"
                    tabindex=0
                    (keyup.enter)="notifyModelInfoLinkClicked()"
                    (keyup.space)="notifyModelInfoLinkClicked()"
                    (click)="notifyModelInfoLinkClicked()">toxic</span>?
            </span>
          </div>
        </div> <!-- End configuration DEMO_SITE -->

      </div> <!-- End layerText -->

      <div class="interactiveElement">

        <div *ngIf="configuration === configurationEnum.EXTERNAL">
          <div class="horizontal-container">
            <div class="feedbackContainer widgetText"
                 [style.fontSize]="fontSize"
                 [attr.aria-hidden]="!showScore || isPlayingLoadingAnimation">
              <button id="seemWrongButton"
                   *ngIf="canAcceptFeedback && !showFeedbackQuestion
                      && !feedbackRequestInProgress && !feedbackRequestSubmitted && !feedbackRequestError"
                   role="button"
                   class="seemWrongButton greyButton noBorderButton"
                   [style.fontSize]="fontSize"
                   [disabled]="!showScore || isPlayingLoadingAnimation || layersAnimating"
                   (click)="feedbackContainerClicked()"
                   tabindex=0>
                {{userFeedbackPromptText}}
              </button>
              <div id="seemWrongQuestion" *ngIf="showFeedbackQuestion && !feedbackRequestInProgress">
                <div class="feedbackQuestion widgetText" tabindex=0>Is this text toxic?</div>
                <div class="yesNoButtonContainer horizontal-container">
                  <div>
                    <button
                      id="yesButtonExternalConfig"
                      class="yesNoButton greyButton underlineButton noBorderButton"
                      role="button"
                      [style.fontSize]="fontSize"
                      [disabled]="!showScore || isPlayingLoadingAnimation || layersAnimating"
                      (click)="submitFeedback(true)"
                      tabindex=0>
                      Yes
                    </button>
                  </div>
                  <div>
                    <button
                      id="noButtonExternalConfig"
                      class="yesNoButton greyButton underlineButton noBorderButton"
                      role="button"
                      [style.fontSize]="fontSize"
                      [disabled]="!showScore || isPlayingLoadingAnimation || layersAnimating"
                      (click)="submitFeedback(false)"
                      tabindex=0>
                      No
                    </button>
                  </div>
                </div>
              </div>
              <div id="feedbackSubmitting"
                   tabindex=0
                   role="status"
                   *ngIf="feedbackRequestInProgress">
                Sending...
              </div>
              <div id="feedbackThanks"
                   tabindex=0
                   role="status"
                   *ngIf="feedbackRequestSubmitted">
                Thanks for the feedback!
              </div>
              <div *ngIf="feedbackRequestError">
                <button
                     class="error noBorderButton"
                     role="button"
                     [style.fontSize]="fontSize"
                     (click)="resetFeedback()"
                     tabindex=0>
                  Error submitting feedback. Click to try again.
                </button>
              </div>
            </div>
            <div id="infoButtonContainer" class="infoButtonContainer">
              <button *ngIf="hasScore"
                id="cancelButton"
                class="infoButton"
                role="button"
                aria-label="Hide score details"
                [disabled]="!showScore || isPlayingLoadingAnimation || layersAnimating"
                (click)="setShowMoreInfo(false)"
                tabindex=0>
                <i class="material-icons md-dark md-18">cancel</i>
              </button>
            </div>
          </div>
        </div> <!-- End configuration EXTERNAL -->

        <div *ngIf="configuration === configurationEnum.DEMO_SITE">
          <div class="yesNoButtonContainer horizontal-container"
               *ngIf="!feedbackRequestInProgress && !feedbackRequestSubmitted && !feedbackRequestError">
            <div>
              <button
                id="yesButtonDemoConfig"
                class="yesNoButton purpleButton noBorderButton"
                role="button"
                [style.fontSize]="fontSize"
                [disabled]="!showScore || isPlayingLoadingAnimation || layersAnimating"
                (click)="submitFeedback(true)"
                tabindex=0>
                Yes
              </button>
            </div>
            <div>
              <button
                id="noButtonDemoConfig"
                class="yesNoButton purpleButton noBorderButton"
                role="button"
                [style.fontSize]="fontSize"
                [disabled]="!showScore || isPlayingLoadingAnimation || layersAnimating"
                (click)="submitFeedback(false)"
                tabindex=0>
                No
              </button>
            </div>
          </div>
        </div> <!-- End configuration DEMO_SITE -->

      </div> <!-- End layer2 interactive element -->

    </div> <!-- End layer2 -->

    <div id="layer3" [ngClass]="{'horizontal-container': true,
                                 'detailsContainer': true,
                                 'hiddenLayer': !layersAnimating && currentLayerIndex !== 2}">
      <div class="interactiveElement">

        <div *ngIf="configuration === configurationEnum.DEMO_SITE">
            <div id="feedbackThanksDemoConfig"
                 class="widgetText"
                 tabindex=0
                 role="status"
                 *ngIf="feedbackRequestSubmitted">
              <button
                id="thanksForFeedbackButtonDemoConfig"
                class="noBorderButton feedbackResponseButton widgetText"
                role="button"
                (click)="resetLayers()">
                Thanks for your feedback!
              </button>
            </div>
            <div *ngIf="feedbackRequestError">
              <button
                   class="error noBorderButton feedbackResponseButton"
                   role="button"
                   [style.fontSize]="fontSize"
                   (click)="resetLayers()"
                   tabindex=0>
                Error submitting feedback. Click to try again.
              </button>
            </div>
        </div> <!-- End configuration DEMO_SITE. -->
      </div> <!-- End interactiveElement. -->
    </div> <!-- End layer3 -->

  </div>
</div>
