<!-- Note on the ngStyle for font-family: Using !important doesn't work in data
     binding (see https://github.com/angular/angular/issues/12009) and the
     default button style will override whatever font we specify here, so we
     have to repeat it on buttons used throughout the template. -->
<div #widgetContainer id="widgetContainer"
                      class="horizontal-container"
                      [ngStyle]="{'font-family': (fontFamily || '\'Roboto\', sans-serif')}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
  <!-- For items that need to be animated, hidden is used instead of *ngIf.
       This is because *ngIf removes items from the DOM, which means they
       cannot be found when the component is initializing if their display
       conditions are not met. -->
  <div id="animationContainer">
    <div *ngIf="loadingIconStyle === loadingIconStyleConst.CIRCLE_SQUARE_DIAMOND"
         id="circleSquareDiamondLoadingIconContainer">
      <div
           #circleSquareDiamondWidget
           id="circleSquareDiamondWidget"
           class="dot"
           [style.width]="indicatorWidth"
           [style.height]="indicatorHeight"
           [hidden]="shouldHideStatusWidget"
           [attr.aria-hidden]="shouldHideStatusWidget || isPlayingShowOrHideLoadingWidgetAnimation"
           [attr.aria-label]="getAnimationA11yLabel(loadingIconStyle, isPlayingLoadingAnimation)"
           tabindex=0>
      </div>
    </div>
    <div *ngIf="loadingIconStyle === loadingIconStyleConst.EMOJI">
      <div
           #emojiStatusWidget
           id="emojiStatusWidget"
           class="dot emojiWidget"
           tabindex=0
           [attr.aria-label]="getAnimationA11yLabel(loadingIconStyle, isPlayingLoadingAnimation)">
        <img #smileEmoji id="smileEmoji" class="iconEmoji"
             [ngClass]="{hiddenEmoji: hideEmojiIconsForLoadingAnimation || score >= neutralScoreThreshold}"
             [src]="getImageResourcePath('grinning_face.png')"
             [title]="getAccessibilityDescriptionForEmoji(Emoji.SMILE)"
             [alt]="getAccessibilityDescriptionForEmoji(Emoji.SMILE)">
        <img #neutralEmoji id="neutralEmoji" class="iconEmoji"
             [ngClass]="{hiddenEmoji: hideEmojiIconsForLoadingAnimation || (score < neutralScoreThreshold || score >= toxicScoreThreshold)}"
             [src]="getImageResourcePath('thinking_face.png')"
             [title]="getAccessibilityDescriptionForEmoji(Emoji.NEUTRAL)"
             [alt]="getAccessibilityDescriptionForEmoji(Emoji.NEUTRAL)">
        <img #sadEmoji id="sadEmoji" class="iconEmoji"
             [ngClass]="{hiddenEmoji: hideEmojiIconsForLoadingAnimation || score < toxicScoreThreshold}"
             [src]="getImageResourcePath('disappointed_face.png')"
             [title]="getAccessibilityDescriptionForEmoji(Emoji.SAD)"
             [alt]="getAccessibilityDescriptionForEmoji(Emoji.SAD)">
      </div>
    </div>
  </div>

  <div class="layersContainer">
    <!-- TODO(rachelrosen): Check the necessity of specifying aria-hidden here and elsewhere. -->
    <div id="layer1" [ngClass]="{'horizontal-container': true,
                                 'detailsContainer': true,
                                 'layer': true,
                                 'hiddenLayer': !layersAnimating && currentLayerIndex !== 0}"
                     [attr.aria-hidden]="currentLayerIndex !== 0">
      <div id="layerText" class="layerText">
        <!-- For layer 1 text, configurations EXTERNAL and DEMO_SITE are the same.-->
        <div>
          <div id="noBorderButtonscoreInfo"
               class="widgetText"
               *ngIf="hasScore && !analyzeErrorMessage && shouldShowFeedback(score)"
               [style.fontSize]="fontSize"
               tabindex=0
               role="status"
               [attr.aria-hidden]="!showScore || isPlayingLoadingAnimation || isPlayingFadeDetailsAnimation">
            <span id="feedbackText">{{getFeedbackTextForScore(score)}}</span>
          </div>

          <div class="error" *ngIf="initializeErrorMessage">
            {{initializeErrorMessage}}
          </div>
          <div class="error" *ngIf="analyzeErrorMessage">
            {{analyzeErrorMessage}}
          </div>
        </div><!-- End configuration DEMO_SITE or EXTERNAL -->

      </div> <!-- End layerText -->

      <div class="interactiveElement">
        <div *ngIf="configuration === configurationEnum.DEMO_SITE">
          <button id="seemWrongButtonDemoConfig"
               *ngIf="canAcceptFeedback && shouldShowFeedback(score)"
               role="button"
               class="seemWrongButton purpleButton noBorderButton"
               [style.fontSize]="fontSize"
               [disabled]="!showScore || isPlayingLoadingAnimation || layersAnimating"
               (click)="feedbackContainerClicked()"
               tabindex=0
               [ngStyle]="{'font-family': fontFamily || '\'Roboto\', sans-serif'}">
            {{userFeedbackPromptText}}
          </button>
        </div>

      </div> <!-- End interactiveElement -->
    </div> <!-- End layer1 -->

    <div id="layer2" [ngClass]="{'horizontal-container': true,
                                 'detailsContainer': true,
                                 'layer': true,
                                 'hiddenLayer': !layersAnimating && currentLayerIndex !== 1}"
                     [attr.aria-hidden]="currentLayerIndex !== 1">

      <div class="layerText">
        <div *ngIf="configuration === configurationEnum.DEMO_SITE">
          <div class="widgetText"
            tabindex=0>
            <span>Is this comment
              <span class="link"
                    role="link"
                    tabindex=0
                    (keyup.enter)="notifyModelInfoLinkClicked()"
                    (keyup.space)="notifyModelInfoLinkClicked()"
                    (click)="notifyModelInfoLinkClicked()">toxic</span>?
            </span>
          </div>
        </div> <!-- End configuration DEMO_SITE -->

      </div> <!-- End layerText -->

      <div class="interactiveElement">
        <div *ngIf="configuration === configurationEnum.DEMO_SITE">
          <div class="yesNoButtonContainer horizontal-container"
               *ngIf="!feedbackRequestInProgress && !feedbackRequestSubmitted && !feedbackRequestError">
            <div>
              <button
                id="yesButtonDemoConfig"
                class="yesNoButton purpleButton noBorderButton"
                role="button"
                [style.fontSize]="fontSize"
                [disabled]="!showScore || isPlayingLoadingAnimation || layersAnimating"
                (click)="submitFeedback(true)"
                tabindex=0
                [ngStyle]="{'font-family': fontFamily || '\'Roboto\', sans-serif'}">
                Yes
              </button>
            </div>
            <div>
              <button
                id="noButtonDemoConfig"
                class="yesNoButton purpleButton noBorderButton"
                role="button"
                [style.fontSize]="fontSize"
                [disabled]="!showScore || isPlayingLoadingAnimation || layersAnimating"
                (click)="submitFeedback(false)"
                tabindex=0
                [ngStyle]="{'font-family': fontFamily || '\'Roboto\', sans-serif'}">
                No
              </button>
            </div>
          </div>
        </div> <!-- End configuration DEMO_SITE -->

      </div> <!-- End layer2 interactive element -->

    </div> <!-- End layer2 -->

    <div id="layer3" [ngClass]="{'horizontal-container': true,
                                 'detailsContainer': true,
                                 'hiddenLayer': !layersAnimating && currentLayerIndex !== 2}">
      <div class="interactiveElement">

        <div *ngIf="configuration === configurationEnum.DEMO_SITE">
            <div id="feedbackThanksDemoConfig"
                 class="widgetText"
                 tabindex=0
                 role="status"
                 *ngIf="feedbackRequestSubmitted">
              <button
                id="thanksForFeedbackButtonDemoConfig"
                class="noBorderButton feedbackResponseButton widgetText"
                role="button"
                (click)="resetLayers()"
                [ngStyle]="{'font-family': fontFamily || '\'Roboto\', sans-serif'}">
                Thanks for your feedback!
              </button>
            </div>
            <div *ngIf="feedbackRequestError">
              <button
                   class="error noBorderButton feedbackResponseButton"
                   role="button"
                   [style.fontSize]="fontSize"
                   (click)="resetLayers()"
                   tabindex=0
                   [ngStyle]="{'font-family': fontFamily || '\'Roboto\', sans-serif'}">
                Error submitting feedback. Click to try again.
              </button>
            </div>
        </div> <!-- End configuration DEMO_SITE. -->
      </div> <!-- End interactiveElement. -->
    </div> <!-- End layer3 -->

  </div>
</div>
